export("active.extension")
export("alpha")
export("asset.apply")
export("barplot.portfolio.model")
export("efficient.frontier")
export("l")
export("long.only")
export("mean.portfolio.model")
export("momentum")
export("nasset")
export("nscenario")
export("objective")
export("optimal.portfolio")
export("optimal.portfolio.1overN")
export("optimal.portfolio.markowitz")
export("optimal.portfolio.expected.shortfall")
export("optimal.portfolio.expected.shortfall.long.short")
export("optimal.portfolio.mad")
export("optimal.portfolio.mad.long.short")
export("optimal.portfolio.momentum")
export("portfolio.loss")
export("portfolio.model")
export("portfolio.weights")
export("print.portfolio.model")
export("scenario.apply")
export("x")