export("active.extension")
export("alpha")
export("asset.apply")
export("asset.risk")
export("avar")
export("barplot.portfolio.model")
export("cvar")
export("es")
export("expected.shortfall")
export("efficient.frontier")
export("l")
export("linear.constraint.eq")
export("linear.constraint.iq")
export("long.only")
export("lower.bound")
export("mean.portfolio.model")
export("momentum")
export("nasset")
export("nscenario")
export("objective")
export("optimal.portfolio")
export("optimal.portfolio.1overN")
export("optimal.portfolio.markowitz")
export("optimal.portfolio.expected.shortfall")
export("optimal.portfolio.expected.shortfall.long.short")
export("optimal.portfolio.mad")
export("optimal.portfolio.mad.long.short")
export("optimal.portfolio.momentum")
export("optimal.portfolio.reward")
export("portfolio.loss")
export("portfolio.model")
export("portfolio.weights")
export("print.portfolio.model")
export("print.efficient.frontier")
export("plot.efficient.frontier")
export("risk")
export("scenario.apply")
export("upper.bound")
export("x")
